# Specify the dependencies needed for builing the documentation
# List the same dependencies here as in ../setup.cfg
# (not sure if there's a more elegant way to read these directly from there)
numpy
jsondiff
pytz
python-dateutil
requests
ipykernel
ipython
ipympl
ipylab
notebook
ipywidgets
matplotlib
uncertainties
xarray
jinja2
sphinx_rtd_theme
